.menu-side {
    @include menu(-100%, var(--sec-bg-color));

    /* Not Phone */
    @media only screen and (min-width: 40em) {
        width: fit-content;
        min-width: 300px;
    }

    &__button {
        margin-right: 16px;

        /* Phone */
        @media only screen and (max-width: 40em) {
            margin-right: auto;
        }
    }
}

.admin-index {
    @extend %container-wrapper;
    padding-top: var(--header-height);
    min-height: 100vh;

    &__title {
        padding-bottom: 20px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;

        color: var(--fg-color);
    }
}

.collection-categories {
    @include collection(4fr 1fr);
}

.collection-users {
    @include collection(1fr 1fr 1fr 1fr 1fr);
}
