@mixin collection($template_columns) {
    box-sizing: border-box;

    width: 100%;

    &__list {
        display: grid;

        grid-template-columns: $template_columns;

        gap: var(--gap);

        padding: 8px;

        border: var(--border-size) solid var(--silenced-fg-color);
        // border-radius: var(--rounding);

        align-items: center;
        justify-items: center;
    }

    &__title {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        text-decoration: none;

        color: var(--fg-color);
    }

    &__categories {
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        gap: var(--gap);
    }

    &__creation {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: var(--silenced-fg-color);
    }

    &__username {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        text-decoration: none;

        color: var(--silenced-fg-color);
    }

    &__actions {
        display: flex;
        flex-direction: row;
        gap: var(--gap);

        align-items: center;
    }

    &__form  {
        width: 100%;

        display: grid;
        grid-template-columns: $template_columns;
        gap: var(--gap);

        grid-column-start: 1;
        grid-column-end: -1;

        align-items: center;
        justify-items: center;
    }

    &__separator:not(:last-child) {
        content: ' ';
        width: 100%;

        margin: 0;

        border-top: 1px solid var(--silenced-fg-color);

        grid-column-start: 1;
        grid-column-end: -1;
    }

    &__separator:last-child {
        display: none;
    }
}
