@font-face {
    font-family: 'DM Sans';
    src: url('/resources/fonts/DM_Sans/DMSans-Thin.eot');
    src: url('/resources/fonts/DM_Sans/DMSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/DM_Sans/DMSans-Thin.woff2') format('woff2'),
        url('/resources/fonts/DM_Sans/DMSans-Thin.woff') format('woff'),
        url('/resources/fonts/DM_Sans/DMSans-Thin.ttf') format('truetype'),
        url('/resources/fonts/DM_Sans/DMSans-Thin.svg#DMSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/resources/fonts/DM_Sans/DMSans-Medium.eot');
    src: url('/resources/fonts/DM_Sans/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/DM_Sans/DMSans-Medium.woff2') format('woff2'),
        url('/resources/fonts/DM_Sans/DMSans-Medium.woff') format('woff'),
        url('/resources/fonts/DM_Sans/DMSans-Medium.ttf') format('truetype'),
        url('/resources/fonts/DM_Sans/DMSans-Medium.svg#DMSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/resources/fonts/DM_Sans/DMSans-Regular.eot');
    src: url('/resources/fonts/DM_Sans/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/DM_Sans/DMSans-Regular.woff2') format('woff2'),
        url('/resources/fonts/DM_Sans/DMSans-Regular.woff') format('woff'),
        url('/resources/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype'),
        url('/resources/fonts/DM_Sans/DMSans-Regular.svg#DMSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/resources/fonts/DM_Sans/DMSans-Bold.eot');
    src: url('/resources/fonts/DM_Sans/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/DM_Sans/DMSans-Bold.woff2') format('woff2'),
        url('/resources/fonts/DM_Sans/DMSans-Bold.woff') format('woff'),
        url('/resources/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype'),
        url('/resources/fonts/DM_Sans/DMSans-Bold.svg#DMSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
