.form {
    @extend .container;
    max-width: 720px;

    padding: 20px;
    margin: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    &::after {
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        border-radius: var(--rounding);

        background: var(--sec-bg-color);
        opacity: 80%;
    }

    &__title {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        color: var(--fg-color);
        padding-bottom: var(--big-gap);

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--big-gap);
    }

    &__group {
        padding: 4px 0;
        width: 100%;

        display: flex;
        flex-flow: column;
        justify-items: center;
        align-items: left;
    }

    &__group > label {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: var(--fg-color);
        margin-bottom: var(--gap);
    }

    &__input {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        box-sizing: border-box;

        padding: 8px 4px;

        background: 0;
        border-radius: var(--rounding);
        border: var(--border-size) solid var(--fg-color);

        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;

        color: var(--fg-color);

        &--hidden {
            display: none;
        }
    }

    &__error {
        width: 100%;
        min-height: 24px;

        color: var(--silenced-fg-color);
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        line-height: 20px;

        &--hide {
            min-height: 0px;
            box-sizing: content-box;

            color: var(--silenced-fg-color);
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__submit {
        padding: 8px 12px;
        max-height: 100px;

        display: flex;
        flex-flow: row;
        align-items: center;
        gap: var(--gap);

        color: var(--fg-color);
        background: var(--primary-color);
        border: 0;

        border-radius: var(--rounding);

        text-decoration: none;
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        line-height: 24px;

        transition: background 0.25s ease;
    }

    &__submit:hover {
        background: var(--secondary-color);
    }

    &__submit--sending {
        background: var(--secondary-color);
        color: var(--silenced-fg-color);
    }
}

// All those importants are needed because select2 has stupid styles...

.select2-row_result {
    color: var(--fg-color);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.select2-search__field {
    @extend .form__input;
}

.select2-selection {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: 0 !important;

    border: var(--border-size) solid var(--fg-color) !important;
    border-radius: var(--rounding) !important;

    &__choice {
        padding: 4px 8px !important;
        background: 0 !important;
        border: var(--border-size) solid var(--silenced-fg-color) !important;
        border-radius: 0 !important;

        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: var(--fg-color);

        display: flex;
        align-items: center;
        gap: var(--gap);

        &__remove {
            content: url("/resources/imgs/cross.svg");
            height: 8px;
            width: 8px;
        }
    }
}

.select2-dropdown {
    background: var(--bg-color) !important;

    * {
        background: 0 !important;
    }
}

.select2-results__option {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: var(--silenced-fg-color);

    transition: color 0.15s ease;

    &[aria-selected="true"] {
        color: var(--primary-color);
    }

    &--highlighted {
        color: var(--fg-color);
    }
}

.form_edit {
    @extend .form;
}

.form__pills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--gap);
}

.form__pill {
    padding: 8px 12px;
    box-sizing: border-box;

    border: 0;
    background: var(--silenced-fg-color);
    border-radius: var(--rounding);

    color: var(--bg-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: all 0.3s ease;

    input {
        appearance: none;
        display: none;
    }

    &:has(> input[checked]) {
        background: var(--primary-color);
        color: var(--fg-color);
    }

    &:hover {
        background: var(--fg-color);
    }
}

@mixin action($size) {
    background: 0;
    border: 0;
    box-sizing: border-box;

    opacity: 80%;
    transform: scale(80%);
    transition: all 0.5s ease;

    img {
        object-fit: contain;
        width: $size;
        height: $size;
    }

    &:hover {
        opacity: 100%;
        transform: scale(100%);
    }
}

.action--delete {
    @include action(30px);
}

.action--edit {
    @include action(40px);
}

.action--report {
    @include action(40px);
}

.action--details {
    @include action(50px);
}
