.forum {
    @extend %container-wrapper;

    padding-top: 120px;
    box-sizing: border-box;
    min-height: 100vh;

    .container {
        position: relative;
        max-width: 1280px;
        padding-bottom: 40px;
    }

    .container::after {
        content: '';
        position: absolute;
        z-index: -1;

        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        border-radius: var(--rounding);
        background: var(--sec-bg-color);
        opacity: 80%;

        box-sizing: border-box;
    }

    &__title {
        box-sizing: border-box;
        padding: 20px 0 20px 0;

        font-family: 'DM Sans', sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;

        color: var(--fg-color);

        display: flex;
        flex-direction: row;
        gap: var(--big-gap);
    }

    &__header {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0 20px 0;

        font-family: 'DM Sans', sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;

        color: var(--fg-color);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--big-gap);
    }

    &__form {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: var(--gap);

        justify-content: center;
        align-items: center;

        .form__group, .form__group > input[type="text"] {
            max-width: 400px;
            min-width: 200px;
            height: fit-content;

            flex-direction: row;
            align-items: center;
        }
    }

    &__search {
        height: 100%;
        padding: 0;
        box-sizing: border-box;
        width: fit-content;
        border: 0;
        background: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        transform: scale(90%);
        opacity: 90%;

        transition: all 0.15s ease;

        &:hover {
            transform: scale(100%);
            opacity: 100%;
        }

        img {
            object-fit: contain;

            height: 50px;
            width: 50px;
        }
    }

    &__create {
        display: flex;
        flex-direction: row;

        padding: 0 0 20px 0;
        width: 100%;
        display: inline-block;

        color: var(--fg-color);
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;

        .link {
            font-size: 24px;
            line-height: 36px;
            width: fit-content;

            color: var(--silenced-fg-color);
        }
    }
}

.collection-posts {
    @include collection(1fr 2fr 3fr 1fr);
}

.collection-comments {
    @include collection(1fr 3fr 1fr);
}

.category {
    padding: 0px 8px;
    max-height: 100px;

    display: flex;
    flex-flow: row;
    align-items: center;
    gap: var(--gap);

    color: var(--bg-color);
    background: var(--white-color);
    border: 0;

    border-radius: var(--rounding);

    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

    transition: background 0.25s ease;

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    &:hover {
        background: var(--gray-color);
    }
}
