.forum {
    @extend %container-wrapper;

    .container {
        max-width: 1280px;
    }

    &__title {
        padding: 80px 0 40px 0;

        font-family: 'DM Sans', sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;

        color: var(--fg-color);
    }

    &__create {
        display: flex;
        flex-direction: row;

        padding: 0 0 20px 0;
        width: 100%;
        display: inline-block;

        color: var(--fg-color);
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;

        .link {
            font-size: 24px;
            line-height: 36px;
            width: fit-content;

            color: var(--silenced-fg-color);
        }
    }
}

.posts {
    box-sizing: border-box;

    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;

    gap: var(--gap);

    padding: 8px;

    border: var(--border-size) solid var(--silenced-fg-color);
    // border-radius: var(--rounding);

    align-items: center;
    justify-items: center;

    &__title {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        text-decoration: none;

        color: var(--fg-color);
    }

    &__creation {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: var(--silenced-fg-color);
    }


    &__username {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        text-decoration: none;

        color: var(--silenced-fg-color);
    }


    &__separator:not(:last-child) {
        content: ' ';
        width: 100%;

        margin: 0;

        border-top: 1px solid var(--silenced-fg-color);

        grid-column-start: 1;
        grid-column-end: -1;
    }

    &__separator:last-child {
        display: none;
    }
}
