.header {
    @extend %container-wrapper;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;

    height: var(--header-height);

    box-sizing: border-box;

    padding: var(--padding);

    background: var(--sec-bg-color);

    border-bottom: var(--border-size) solid var(--border-color);

    .container {
        height: 100%;
    }

    &__nav {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        gap: var(--gap);
        align-items: center;

        font-family: 'DM Sans', sans-serif;

        .link {
            height: fit-content;
        }
    }

    .logo {
        margin-right: 16px;
        color: var(--fg-color);

        text-decoration: none;

        font-family: 'DM Sans', sans-serif;
        font-size: 36px;
    }

}


.auth-nav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.menu {
    &__button {
        display: none;
    }

    display: none;
}

/* Phone */
@media only screen and (max-width: 50em) {
    .header__nav > .link,.auth-nav {
        display: none;
    }

    .menu {
        display: initial;

        &__button {
            margin-left: auto;
            display: block;
        }
    }

    .menu__button > img {
        height: 40px;
        width: 40px;

        object-fit: cover;
    }

    .menu__button {

        background: 0;
        color: var(--fg-color);

        font-size: 14px;

        border: none;
        border-radius: var(--rounding);
    }

    .menu__hidden > .container >  .link {
        font-size: 28px;
        line-height: 32px;
    }
}

.menu__hidden {
    position: absolute;

    top: var(--header-height);
    left: 100%;

    width: 100vw;
    height: 100vh;

    z-index: 200;

    background: var(--bg-color);

    transition: left 0.5s ease;

    .user > * {
        font-size: 28px;
        line-height: 32px;
    }

    .menu__separator {
        content: ' ';
        width: 100%;
        border-top: var(--border-size) solid var(--silenced-fg-color);
    }

    .container {
        padding-top: 12px;
        align-items: start;
    }
}

.menu[data-open=true] > .menu__hidden {
    left: 0;
}

body[data-menu-open=true] {
    overflow-y: hidden;
}

.user {
    display: flex;
    flex-direction: row;
    gap: var(--gap);

    &__name {
        color: var(--silenced-fg-color);

        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        line-height: 20px;
    }

    .link {

    }
}
