.header {
    @extend %container-wrapper;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;

    height: var(--header-height);

    box-sizing: border-box;

    padding: var(--padding);

    background: var(--sec-bg-color);

    .container {
        height: 100%;
    }

    &__search {
        flex-grow: 1;
        padding-right: 12px;
    }

    &__nav {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        gap: var(--gap);
        align-items: center;

        font-family: "DM Sans", sans-serif;

        .link {
            height: fit-content;
        }

        /* Phone */
        @media only screen and (max-width: 60em) {
            .link,
            .auth-nav {
                display: none;
            }
        }
    }

    .logo {
        margin-right: 16px;
    }

    &--documentation {
        /* Phone */
        @media only screen and (max-width: 60em) {
            .header__nav {
                .logo {
                    display: none;
                }
            }
        }
    }
}

.auth-nav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

@mixin menu($left, $bg-color: var(--bg-color)) {
    position: absolute;

    top: var(--header-height);
    left: $left;

    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    z-index: 200;

    background: $bg-color;

    transition: left 0.5s ease;

    &__separator {
        content: " ";
        width: 100%;
        border-top: var(--border-size) solid var(--silenced-fg-color);
    }

    .container {
        padding-top: 12px;
        align-items: start;
    }

    &__button {
        display: flex;
        align-items: center;

        background: 0;
        color: var(--fg-color);

        font-size: 14px;

        border: none;
        border-radius: var(--rounding);

        img {
            height: 40px;
            width: 40px;

            object-fit: cover;
        }
    }

    &[data-open="true"] {
        left: 0;
    }

    .user > * {
        font-size: 28px;
        line-height: 32px;
    }

    .container > .link {
        font-size: 28px;
        line-height: 32px;
    }
}

.menu {
    @include menu(100vw);

    /* Not phone */
    @media only screen and (min-width: 60em) {
        display: none;

        &__button {
            display: none !important;
        }
    }

    &__button {
        margin-left: auto;
    }
}

body[data-menu-open="true"] {
    overflow-y: hidden;
}

.user {
    display: flex;
    flex-direction: row;
    gap: var(--gap);

    &__name {
        color: var(--silenced-fg-color);

        font-family: "DM Sans", sans-serif;
        font-size: 20px;
        line-height: 20px;
    }
}
