.form-post {
    @extend %container-wrapper;

    padding-top: 60px;
    width: 100vw;
    min-height: 100vh;

    position: relative;
    box-sizing: border-box;
}

.post {
    @extend %container-wrapper;

    padding-top: 120px;
    min-width: 0;

    position: relative;
    margin-bottom: 40px;

    .container {
        padding: 0 80px;

        position: relative;

        /* Phone */
        @media only screen and (max-width: 40em) {
            padding: 0 12px 0 8px;
        }
    }

    .container::after {
        content: '';
        position: absolute;
        z-index: -1;

        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        border-radius: var(--rounding);
        background: var(--sec-bg-color);
        opacity: 100%;

        box-sizing: border-box;
    }

    &__title {
        padding: 40px 0 20px;
        width: 100%;

        font-family: 'DM Sans', sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;

        color: var(--fg-color);
    }

    &__header {
        width: 100%;
        padding: 36px 0;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
    }

    &__dates {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--gap);
    }

    &__author {
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;;

        width: fit-content;
    }

    &__date {
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        line-height: 24px;

        text-align: start;
        text-justify: inter-word;

        color: var(--silenced-fg-color);
    }

    &__description {
        box-sizing: border-box;
        width: 100%;

        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        line-height: 24px;

        text-align: justify;
        text-justify: inter-word;

        color: var(--fg-color);
    }

    &__actions {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: var(--gap);

        align-items: center;
    }

    .form {
        padding: 120px 0 0 0;
    }
}

.action__delete {
    background: 0;
    border: 0;
    box-sizing: border-box;

    img {
        object-fit: contain;
        width: 30px;
        height: 30px;
    }

    opacity: 80%;
    transform: scale(80%);
    transition: all 0.5s ease;
}

.action__delete:hover {
    opacity: 100%;
    transform: scale(100%);
}

.action__edit {
    background: 0;
    border: 0;
    box-sizing: border-box;

    img {
        object-fit: contain;
        width: 40px;
        height: 40px;
    }

    opacity: 80%;
    transform: scale(80%);
    transition: all 0.5s ease;
}

.action__edit:hover {
    opacity: 100%;
    transform: scale(100%);
}

.form.comment-form {
    padding-top: 20px;

    &__title {
        font-size: 24px;
        line-height: 28px;
    }
}

.comments {
    box-sizing: border-box;
    width: 100%;
    padding: 36px 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--big-gap);

    &__title {
        font-family: 'DM Sans', sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;

        color: var(--fg-color);
    }
}

.comment {
    width: 100%;
    max-width: 720px;
    padding: 20px 0;

    &__header {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        align-items: center;
    }

    &__author {
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;

        width: fit-content;
    }

    &__dates {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    &__date {
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        line-height: 16px;

        text-align: start;
        text-justify: inter-word;

        color: var(--silenced-fg-color);
    }

    &__actions {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: var(--gap);

        align-items: center;
    }

    &__description {
        padding-top: 8px;
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        line-height: 24px;

        text-align: justify;
        text-justify: inter-word;

        color: var(--fg-color);
    }

    .form_edit {
        @extend .form;

        padding-top: 0;
        display: none;
    }
}

.comment[data-edit=true] {
    :not(.comment__header, .comment__header *, .form_edit, .form_edit *) {
        display: none;
    }

    .form_edit {
        display: flex;
    }
}
