.register {
    width: 100vw;
    min-height: 100vh;

    position: relative;
}

.register__container {
    box-sizing: border-box;
    padding: 40px 40px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--big-gap);
}

.register__links {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
}

.register__links {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
