/* TODO: Change favicon */

body {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    background: var(--bg-color);
}

.body {
    padding-top: var(--header-height);
    box-sizing: border-box;

    min-height: 100vh;
}

.logo {
    text-decoration: none;

    color: var(--fg-color);

    text-decoration: none;

    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
}

.link {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;

    color: var(--fg-color);

    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.link::after {
    content: '';

    width: 0;
    border-top: var(--border-size) solid var(--fg-color);

    transition: all 0.25s ease;
}

.link:hover::after {
    width: 100%;
}

.line-background {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100%;
    z-index: -100;
}

.slick-track {
    display: flex;
    align-items: center;
}

.carousel__pagination {
    width: 100%;

    display: flex;
    flex-direction: row;
    padding-top: 4px;
    justify-content: center;
    gap: var(--gap);
}

.carousel__pagination > button {
    border: 0;
    background: 0;
}

.carousel__pagination > button > img {
    width: 40px;
    height: 40px;

    opacity: 50%;
    transform: scale(90%);
    transition: all 0.5s ease;
}

.carousel__pagination > button > img:hover {
    transform: scale(100%);
    opacity: 100%;
}

.sine-background {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    z-index: -100;
}

.form {
    @extend .container;
    max-width: 720px;

    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    &::after {
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        border-radius: var(--rounding);

        background: var(--sec-bg-color);
        opacity: 80%;
    }

    &__title {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        color: var(--fg-color);
        padding-bottom: var(--big-gap);

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--big-gap);
    }

    &__group {
        width: 100%;

        display: flex;
        flex-flow: column;
        justify-items: center;
        align-items: left;

        gap: var(--gap);
    }

    &__group > label {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: var(--fg-color);
    }

    &__group > input,textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        box-sizing: border-box;

        padding: 8px 4px;

        background: 0;
        border-radius: var(--rounding);
        border: var(--border-size) solid var(--fg-color);

        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;

        color: var(--fg-color);
    }

    &__error {
        width: 100%;
        min-height: 24px;

        color: var(--silenced-fg-color);
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        line-height: 20px;
    }

    &__submit {
        padding: 8px 12px;
        max-height: 100px;

        display: flex;
        flex-flow: row;
        align-items: center;
        gap: var(--gap);

        color: var(--fg-color);
        background: var(--primary-color);
        border: 0;

        border-radius: var(--rounding);

        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        line-height: 24px;

        transition: background 0.25s ease;
    }

    &__submit:hover {
        background: var(--secondary-color);
    }

    &__submit--sending {
        background: var(--secondary-color);
        color: var(--silenced-fg-color);
    }
}

.form_edit {
    @extend .form;
}

.pagination {
    margin-top: 8px;

    display: flex;
    flex-direction: row;
    gap: var(--gap);
    align-items: center;

    .pagination__button {
        border: 0;
        background: 0;
    }

    .pagination__button > img {
        width: 40px;
        height: 40px;

        opacity: 50%;
        transform: scale(90%);
        transition: all 0.5s ease;
    }

    .pagination__button--inactive {
        pointer-events: none;
    }

    .pagination__button:not(.pagination__button--inactive) > img:hover {
        transform: scale(100%);
        opacity: 100%;
    }

    &__page {
        color: var(--fg-color);

        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        line-height: 24px;

    }
}

.button--auth-google {
    padding: 8px 12px;
    max-height: 100px;

    display: flex;
    flex-flow: row;
    align-items: center;
    gap: var(--gap);

    color: var(--bg-color);
    background: var(--white-color);
    border: 0;

    border-radius: var(--rounding);

    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;

    transition: background 0.25s ease;

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    :hover {
        background: var(--gray-color);
    }
}
