:root {
    --bg-color: #170312;

    --white-color: #fefefe;
    --gray-color: #8f8f8f;

    --fg-sec-bg-color: #12020E;
    --fg-color: #B8DBD9;
    --silenced-fg-color: #A0ACAD;
    --primary-color: #531253;
    --secondary-color: #33032F;

    --border-color: #12020E;

    --rounding: 8px;

    --border-size: 2px;

    --padding: 16px;
    --gap: 8px;
    --big-gap: 32px;

    --container-width: 1440px;

    --header-height: 80px;
}
